body {

    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(102,175,252);

}

#contenedor{

    height: 100%;
}

#header {

    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
    width: 400px;
    height: 100px;
    background-color: rgb(103, 255, 204);
    margin: auto;
    border-radius: 15px;
    
}

#header p{

    padding-top: 30px;
}

#productos {

    background-color: rgb(103, 255, 204);
    margin: 10px auto 0;
    height: 285px;
    width: 400px;
    border-radius: 10px;
}

p{

    padding: 5px 0px 0px 5px;
}

span{

    margin-left: 3px;
}

button{

    margin-left: 5px;
    border-radius: 3px;
}

